
body{
    Margin: 0 auto; 
    font-family: bree, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 13px;
    line-height: 30px;
}

header{ 
    text-align: center;
    background-color: rgb(255, 255, 255);
    padding-top: 63px;
    padding-bottom: 175px;
}

h1, h2{ 
    font-family: bree, sans-serif;
    font-weight: 700;
    font-style: italic;
}

/* header styles */


header h1{
    color: rgb(230, 0, 18);
    font-size: 240px;
    margin: -25px;
}

header img{
    width: 600px;
    text-align: center;
    padding-left: 116px;
}




Main{
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
}

main img{
    width: 100%;
    
}

h2{
    font-size: 35px;
    color:rgb(84, 30, 15);
    margin: 40px 0 10px;
}

a{
    color: rgb(84, 30, 15);
}
a:hover{
    color:rgb(230, 0, 18);
    background-color:rgb(141, 128, 147);
}

footer{
    text-align: center;
    background-color: rgb(84, 30, 15);
    Color: white;
    padding: 50px;
}

footer p{
    margin: 0;


}

footer a{
    color: white
}

footer a:hover{
    opacity: .5;
    background-color:transparent;
}
p.caption{
    color: grey;
    font-style: italic;
    margin-top: 0;
}